- var pageTitle = "Hello Applift"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/applift.png"
- var icoPath = "img/ico.png"
- var icoBackground = "#222"
- var description = "Applift // CoverLetter"
- var viewPort = true
- var imgSufix = "img/applift_"