- var pageTitle = "Hello Applift"
- var site = "AguacateKun"
- var fbPreview = "https://miguel-rivas.github.io/zapp/img/applift.png"
- var icoPath = "https://miguel-rivas.github.io/zapp/img/favicon.ico"
- var icoBackground = "#222"
- var description = "Applift // CoverLetter"
- var viewPort = true
- var imgSufix = "img/applift_"